/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	
	
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;}
/*--------------------*/

.wrapper {
    margin: 20px auto;
    width: 75%;

}
.slider {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    background-color: grey;
    
}
.slides {
    flex-basis: 100%;
    border-radius: 15px;
   
}
.controls {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content {
    flex-basis: 50%;
}
.bullets {
    column-gap: 30px;
    display: flex;
}

.bullet{
    width: 45px;
    height: 45px;
   
   
    border-radius: 50%;
    border: 4px solid rgb(95, 194, 240);
    background-color: rgb(95, 194, 240);
}
.bullets span:hover {
    border: white;
    background-color: #fff;
}
span input:checked {
    background-color: black;
    opacity: 1;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
   
   
}