/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 10px;
	
	
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;}
/*--------------------*/


.wrapper {
    margin: auto;
    width: 50%;
 

}
.slider {
   background-color: rgb(80, 78, 78);
   overflow:hidden;
   width: 100% ;
   padding: 2rem;
     
}
.slides {
    border-radius: 1.5rem;
    display: flex;
    width: 400%;
     
}
.wrap {
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
}
.mini-slides {
    display: flex;
    width: 400%;
}

.slide {
  
    width: 25%;
   
    height: 100%;
    transition: all 1s ease;   
}
.mini-slides div {
    width: 25%;
    height: 100%;
    transition: all 1s ease;
}

.slide img {
  width: 100%;  
 height: auto;  
 border-radius: 1.5rem;
 
} 
input {
    visibility: hidden;
    width: 0.1rem;
    height: 0.1rem;
}
.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.content {
    width: 50%;
    overflow: hidden;
    
    
    
}
.content div {
    color: white;
    font-size: 2.5rem;
}
.bullets {
    column-gap: 2rem;
    display: flex;
}
label {
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.bullet span {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(126, 166, 240);
}
#firstbullet:checked ~ .controls .bullets .bullet-one span,
#secondbullet:checked ~ .controls .bullets .bullet-two span,
#thirdbullet:checked ~ .controls .bullets .bullet-three span,
#fourthbullet:checked ~ .controls .bullets .bullet-four span{
    background-color: black;
    border: .4rem solid #7EA6E0 ;
}
#firstbullet:checked ~ .controls .bullets .bullet-one span:hover,
#secondbullet:checked ~ .controls .bullets .bullet-two span:hover,
#thirdbullet:checked ~ .controls .bullets .bullet-three span:hover,
#fourthbullet:checked ~ .controls .bullets .bullet-four span:hover {
    border: .4rem solid #fff;
}

#firstbullet:checked ~ .controls .bullets .bullet-one:hover span,
#secondbullet:checked ~ .controls .bullets .bullet-two:hover span,
#thirdbullet:checked ~ .controls .bullets .bullet-three:hover span,
#fourthbullet:checked ~ .controls .bullets .bullet-four:hover span {
    border: .4rem solid #fff;
}

 .bullet-one:hover span,
 .bullet-two:hover  span,
 .bullet-three:hover  span,
 .bullet-four:hover span{
   background-color: #fff;
}

#firstbullet:checked ~ .wrap .slides .first {
    margin-left: 0;
}

#secondbullet:checked ~ .wrap .slides .first {
    margin-left: -25%;
}

#thirdbullet:checked ~ .wrap .slides .first {
    margin-left: -50%;
}

#fourthbullet:checked ~ .wrap .slides .first {
    margin-left: -75%;
}



#firstbullet:checked ~ .controls .content .mini-slides .first {
    margin-left: 0;
}

#secondbullet:checked ~ .controls .content .mini-slides .first {
    margin-left: -25%;
}

#thirdbullet:checked ~ .controls .content .mini-slides .first {
    margin-left: -50%;
}

#fourthbullet:checked ~.controls .content .mini-slides .first {
    margin-left: -75%;
}


.bullet-one:active span,
.bullet-two:active  span,
.bullet-three:active  span,
.bullet-four:active span{
  position: relative;
  top: .2rem;
  box-shadow: 0rem .2rem .1rem rgba(0,0,0,0.5);

}



@media (max-width: 1200px) {
  .wrapper {
      width: 100%;
  }
  
    .bullets {
        column-gap: 1rem;
        align-self:center;
    }

    label {
        width: 3.5rem;
        height: 3.5rem;
        
    }
    .bullet span {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: rgb(126, 166, 240);
    }
    .controls {
        flex-direction: column-reverse;
        
    }
    .content {
        width: 100%;
    }
}
@media (max-width: 420px) {
    html,body {
        font-size: 8px;
    }
}