/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	
	
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;}
/*--------------------*/

.wrapper {
    margin: 20px auto;
    width: 75%;
 

}
.slider {
   background-color: grey;
   overflow:hidden;
   width: 100% ;
     
}
.slides {
    border-radius: 15px;
    display: flex;
    width: 400%;
     
}
.mini-slides {
    display: flex;
    width: 400%;
}

.slide {
   /*  padding: 20px; */
    width: 25%;
    border-radius: 15px;
    height: 100%;
    transition: all 1s ease;   
}
.mini-slides div {
    width: 25%;
    height: 100%;
    transition: all 1s ease;
}

.slide img {
  width: 100%;  
 height: 100%;  
 border-radius: 15px;
 
} 
input {
    visibility: hidden;
}
.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.content {
    width: 50%;
    overflow: hidden;
}
.bullets {
    column-gap: 30px;
    display: flex;
}
label {
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.bullet span {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(126, 166, 240);
}
#firstbullet:checked ~ .controls .bullets .bullet-one span,
#secondbullet:checked ~ .controls .bullets .bullet-two span,
#thirdbullet:checked ~ .controls .bullets .bullet-three span,
#fourthbullet:checked ~ .controls .bullets .bullet-four span{
    background-color: black;
    border: 4px solid #7EA6E0 ;
}
#firstbullet:checked ~ .controls .bullets .bullet-one span:hover,
#secondbullet:checked ~ .controls .bullets .bullet-two span:hover,
#thirdbullet:checked ~ .controls .bullets .bullet-three span:hover,
#fourthbullet:checked ~ .controls .bullets .bullet-four span:hover {
    border: 4px solid #fff;
}

#firstbullet:checked ~ .controls .bullets .bullet-one:hover span,
#secondbullet:checked ~ .controls .bullets .bullet-two:hover span,
#thirdbullet:checked ~ .controls .bullets .bullet-three:hover span,
#fourthbullet:checked ~ .controls .bullets .bullet-four:hover span {
    border: 4px solid #fff;
}

 .bullet-one:hover span,
 .bullet-two:hover  span,
 .bullet-three:hover  span,
 .bullet-four:hover span{
   background-color: #fff;
}

#firstbullet:checked ~ .slides .first {
    margin-left: 0;
}

#secondbullet:checked ~ .slides .first {
    margin-left: -25%;
}

#thirdbullet:checked ~ .slides .first {
    margin-left: -50%;
}

#fourthbullet:checked ~.slides .first {
    margin-left: -75%;
}



#firstbullet:checked ~ .controls .content .mini-slides .first {
    margin-left: 0;
}

#secondbullet:checked ~ .controls .content .mini-slides .first {
    margin-left: -25%;
}

#thirdbullet:checked ~ .controls .content .mini-slides .first {
    margin-left: -50%;
}

#fourthbullet:checked ~.controls .content .mini-slides .first {
    margin-left: -75%;
}

